/* #header {
    width: 100%;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 300;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10% 80% 10%;
    position: fixed;
    z-index: 9999;
    margin-top: 1%;
}

#header ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.scrollTop {
    color: black;
    width: 20%;
    margin-left: 20%;
} */
#header {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Volume {
    width: 1vw;
    cursor: pointer;
}

.menu {
    width: 1.8vw;
    margin-right: 2%;
    cursor: pointer;
}

.scrollTop {
    margin-left: 3%;
    width: 87%;
    font-size: 10px;
}

section {
    font-family: "Tungsten";
}

/* section01 -------------------------------------------------------------------------------------------*/
#section01 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f8dede;
    position: relative;
    position: sticky;
    top: 3;
    left: 0;
}

.it_back_tit {
    position: absolute;
    width: 100%;
    transform: rotate(28deg);
    font-size: 24vw;
    font-weight: 600;
    line-height: 0.8;
    text-align: center;
    -webkit-text-stroke: 1px #a13a5f;
    color: transparent;
    opacity: 0.2;
    z-index: -1;
}

.it_wrap {
    margin-top: 1%;
    position: relative;
}

.it_text {
    font-size: 15vw;
    font-weight: 600;
    line-height: 0.7;
    text-align: center;
    color: #a13a5f;
    padding-top: 3%;
    overflow: hidden;
}

.it01 span,
.it02 span,
.it03 span {
    display: inline-block;
}

.it_icon {
    position: absolute;
}

.it_r {
    opacity: 0;
}

.it_icon01 {
    width: 16vw;
    top: -14%;
    left: -28%;
    z-index: -1;
    transform: rotate(90deg);
}

.it_icon02 {
    width: 11vw;
    top: 0%;
    right: -22%;
    transform: rotate(-90deg);
}

.it_icon03 {
    width: 30vw;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.it_icon04 {
    width: 17vw;
    bottom: 0;
    right: -30%;
    z-index: -1;
    transform: rotate(180deg);
}

.it_icon05 {
    width: 14vw;
    bottom: 0;
    left: -30%;
    /* transform: rotate(-40deg); */
    transform: rotate(-220deg);
    z-index: -1;
}

.iconZindex {
    z-index: 100;
}

/* section01 -------------------------------------------------------------------------------------------*/
#section02 {
    height: 100vh;
    background-color: #67353b;
    position: sticky;
    top: 0%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    overflow: hidden;

    background-size: 10px 10px, 60px 60px;
    background-image: linear-gradient(to bottom, transparent 5px, #67353b 5px),
        linear-gradient(to right, #ffffff20 1px, transparent 1px),
        linear-gradient(to right, transparent 5px, #67353b 5px),
        linear-gradient(to bottom, #ffffff20 1px, transparent 1px);
}

.About-text01 {
    position: absolute;
    top: 25%;
    left: 8%;
    z-index: 1;
    width: 20vw;
    font-family: 'SCoreDream';
}

.tit1 {
    font-size: 3vw;
    font-weight: 700;
    line-height: 1;
    /* color: #fffcf8; */
    color: #f1afac;
    position: relative;
}

.about-icon01 {
    width: 12vw;
    position: absolute;
    top: -30%;
    left: -40%;
    transform: translate(-70%, -55%);
    z-index: -1;
}

.About-text02 {
    position: absolute;
    bottom: 0%;
    right: 3%;
    transform: translate3d(0%,-80%,0);
    width: 20vw;
    font-family: 'SCoreDream';
}

/* .About-text02 .tit1 {
    font-size: 3vw;
    font-weight: 700;
    line-height: 1;
    color: #ffc9c6;
} */

.about-icon02 {
    width: 7vw;
    position: absolute;
    top: -21%;
    left: 50%;
    transform: translate(150%, -100%);
    z-index: -1;
}


.desc {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: #fbe7e7;
    font-weight: 300;
    word-break: keep-all;
}

.A1-photo {
    position: relative;
    margin-bottom: 13vh;
}

.A-photo01 {
    width: 28vw;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.A-title01 {
    position: absolute;
    bottom: -15.5%;
    left: -21%;
    letter-spacing: -1.8px;
    color: #e7828e;
    font-size: 6vw;
    font-weight: 800;
    text-align: center;
    line-height: 0.85;
    white-space: nowrap;
    overflow: hidden;
}

.A-title01 span {
    display: inline-block;
}
.A-title02 span {
    display: inline-block;
}


/* section03 -------------------------------------------------------------------------------------------*/
#section03 {
    background-color: #FEF5F5;
    height: 106vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    overflow: hidden;
    background-size: 10px 10px, 60px 60px;
    background-image: linear-gradient(to bottom, transparent 5px, #FEF5F5 5px),
        linear-gradient(to right, #f5dddd 1px, transparent 1px),
        linear-gradient(to right, transparent 5px, #FEF5F5 5px),
        linear-gradient(to bottom, #f5dddd 1px, transparent 1px);
    position: sticky;
    top: 0%;
    left: 0;
}

.A2-photo {
    position: relative;
    margin-bottom: 15vh;
}

.A-photo02 {
    width: 28vw;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.A-title02 {
    position: absolute;
    bottom: -14%;
    left: -29%;
    letter-spacing: -1.8px;
    color: #992d54;
    font-size: 5.5vw;
    font-weight: 800;
    text-align: center;
    line-height: 0.85;
    white-space: nowrap;
    overflow: hidden;
}

.About-text03 {
    position: absolute;
    top: 65%;
    left: 6%;
    transform: translate3d(0%,-80%,0);
    width: 21vw;
    font-family: 'SCoreDream';
}

.about-icon03 {
    width: 10vw;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    opacity: 0.9;
}

/* .About-text03 > .tit {
    font-size: 3.2vw;
    font-weight: 600;
    letter-spacing: -1.8px;
    line-height: 0.95;
    color: #AA305C;
} */

.About-text04 {
    position: absolute;
    top: 25%;
    right: 6%;
    z-index: 1;
    width: 20vw;
    font-family: 'SCoreDream';
}

.about-icon04 {
    width: 12vw;
    position: absolute;
    top: -24%;
    right: -30%;
    transform: translate(60%, -65%) scaleX(-1);
    z-index: -1;
}

.tit2 {
    font-size: 3vw;
    font-weight: 700;
    line-height: 1;
    color: #b7646e;
}

.desc2 {
    color: #62263c;
}

/* section04 ----------------------------------------------------------------------------------------------- */

#section04 {
    overflow: hidden;
    font-family: "Anton", sans-serif;
    cursor: Default;
    background: #fefcfd;
    text-transform: uppercase;
    position: relative;
}

.basic-imac {
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .basic-imac::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #8536ac;
} */

.textMove {
    margin-top: -20vh;
}

.back-tit {
    font-size: 20vw;
    white-space: nowrap;
    color: #7c30a2;
    transition: 0.3s;
    letter-spacing: -0.2vw;
}

.imac {
    width: 65vw;
    padding-right: 8%;
    position: relative;
    will-change: transform;
}

.imac-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51.8%, -76.5%);
    width: 49vw;
    height: 62%;
    background: #f5f5f5;
    overflow: hidden;
}

.view-cont {
    position: absolute;
    font-family: 'SCoreDream';
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.658);
    z-index: 10;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
    color: #fff;
    font-size: 1.1vw;
    animation: opacity .3s forwards;
}
.view-cont::-webkit-scrollbar {
    display: none
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    t0 {
        opacity: 1;
    }
}

/* basic - work */
.basic-work {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: -10%;
}

.basic-work > .basic-tit {
    display: inline-block;
    font-family: "Tungsten";
    font-size: 28vw;
    color: #7c30a2;
    font-weight: 600;
    line-height: 1;
    text-rendering: optimizeSpeed;
    letter-spacing: -0.5vw;
    transition: all 0.5s;
}

.work_tit span {
    display: inline-block;
    margin-bottom: -10%;
}

.basic_line1 {
    position: absolute;
    top: 0;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 1px;
    background: #8536ac;
}

.basic_line2 {
    content: "";
    position: absolute;
    bottom: 8%;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 1px;
    background: #8536ac;
}

.basic_line3 {
    position: absolute;
    bottom: 0;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 1px;
    background: #8536ac;
}

.basic-conts {
    font-family: "Tungsten";
    /* margin-top: -3%; */
    margin-top: 7%;
    padding-bottom: 3%;
    padding-top: 4%;
    position: relative;
}

/* .basic-conts::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #8536ac;
} */

.basic-cont01 {
    display: flex;
    align-items: center;
    line-height: 0.8;
}

.basic-cont01 .b-site > a {
    color: #7c30a2;
    font-size: 12vw;
}

.b-cont01-img {
    width: 14vw;
    margin-bottom: 1%;
    margin-left: 2vw;
    position: relative;
    overflow: hidden;
    border: 3px solid #7c30a2;
}

.b-cont01-img > img {
    transition: 1s;
}
.b-cont01-img .link {
    position: absolute;
    top: -50%;
    transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.b-cont01-img:hover img {
    transform: scale(1.2);
}

.b-cont01-img:hover .link {
    top: 0;
    width: 100%;
    height: 101%;
    background: #1515159d;
    backdrop-filter: blur(1px);
}

.github_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -50%);
    background-image: url(../icon/github.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2.5vw;
    height: 2.5vw;
}
.site_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    background-image: url(../icon/view.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2.5vw;
    height: 2.5vw;
}

/* section05 ------------------------------------------------------------------------------------ */
#section05 {
    overflow: hidden;
    background: #fefcfd;
    font-family: "Anton", sans-serif;
    position: relative;
}

.react-imac {
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.r_line {
    background: #a13a5f;
}

/* .react-imac::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #a13a5f;
} */

.back-tit2 {
    font-size: 20vw;
    white-space: nowrap;
    color: #a13a5f;
    transition: 0.3s;
    letter-spacing: -0.2vw;
}

.react-work {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.react-work > .work_tit {
    display: inline-block;
    font-family: "Tungsten";
    font-size: 28vw;
    color: #a13a5f;
    font-weight: 600;
    line-height: 1;
    text-rendering: optimizeSpeed;
    letter-spacing: -0.5vw;
    transition: all 0.5s;
}

/* .react-work::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #a13a5f;
} */

.react-conts-wrap {
    font-family: "Tungsten";
    margin-top: -3%;
    padding-bottom: 3%;
    padding-top: 4%;
    position: relative;
}

/* .react-conts-wrap::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #a13a5f;
} */

.react-cont {
    display: flex;
    align-items: center;
    line-height: 0.8;
}
.r-site > a {
    color: #a13a5f;
    font-size: 12vw;
}
.r-cont-img {
    width: 14vw;
    margin-bottom: 1%;
    margin-left: 2vw;
    border: 3px solid #a13a5f;
    position: relative;
    overflow: hidden;
}
.r-cont-img > img {
    transition: 1s;
}
.r-cont-img .link {
    position: absolute;
    top: -50%;
    transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.r-cont-img:hover img {
    transform: scale(1.2);
}

.r-cont-img:hover .link {
    top: 0;
    width: 100%;
    height: 101%;
    background: #1515159d;
    backdrop-filter: blur(1px);
}

/* vue - section06 --------------------------------------------------------------------------------------- */
#section06 {
    overflow: hidden;
    font-family: "Anton", sans-serif;
    position: relative;
    background: #fefcfd;
}

.vue-imac {
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.v_line {
    background: #EDA24B;
}

/* .vue-imac::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EDA24B;
} */

.back-tit3 {
    font-size: 20vw;
    white-space: nowrap;
    color: #EDA24B;
    transition: 0.3s;
    letter-spacing: -0.2vw;
}

.vue-work {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.vue-work > .work_tit {
    display: inline-block;
    font-family: "Tungsten";
    font-size: 28vw;
    color: #EDA24B;
    font-weight: 600;
    line-height: 1;
    text-rendering: optimizeSpeed;
    letter-spacing: -0.5vw;
    transition: all 0.5s;
}

/* .vue-work::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EDA24B;
} */

.vue-conts-wrap {
    font-family: "Tungsten";
    margin-top: -3%;
    padding-bottom: 3%;
    padding-top: 4%;
    position: relative;
}

/* .vue-conts-wrap::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EDA24B;
} */

.vue-cont {
    display: flex;
    align-items: center;
    line-height: 0.8;
}
.v-site > a {
    color: #EDA24B;
    font-size: 12vw;
}
.v-cont-img {
    width: 14vw;
    margin-bottom: 1%;
    margin-left: 2vw;
    position: relative;
    overflow: hidden;
    border: 3px solid #EDA24B;
}
.v-cont-img > img {
    transition: 1s;
}
.v-cont-img .link {
    position: absolute;
    top: -50%;
    transition: 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.v-cont-img:hover img {
    transform: scale(1.2);
}

.v-cont-img:hover .link {
    top: 0;
    width: 100%;
    height: 101%;
    background: #1515159d;
    backdrop-filter: blur(1px);
}


/* section07 ----------------------------------------------------------------------------------------------- */
#section07 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    position: relative;
    font-family: "Tungsten";
    background-color: #fefcfd;
}

.s-text-animation {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    font-size: 3vw;
    transition: 0.3s;
    color: #FFE3E3;
    background-color: #CDA8B6;
}

.s-text {
    padding: 1%;
    display: block;
}

.s-text-bg {
    background-color: #983F5E;
}

.s-title-wrap {
    font-size: 8vw;
    line-height: 0.8;
    letter-spacing: -0.2vw;
    color: #a13a5f;
    position: relative;
}

.s-tit:first-child {
    padding-left: 15vw;
    position: relative;
}

.s-icon01 {
    position: absolute;
    width: 10vw;
    bottom: 2vw;
    right: -10vw;
}
.s-icon02 {
    position: absolute;
    width: 13vw;
    bottom: -15vw;
    left: -8vw;
}

.s-desc-wrap {
    display: flex;
}

.s-desc:first-child {
    width: 50vw;
}

.s-desc {
    width: 24vw;
    margin-top: 8%;
    text-align: justify;
    font-size: 1.1vw;
    font-family: 'SCoreDream';
    font-weight: 200;
    color: #AD4A6C;
}

/* section08 -----------------------------------------------------------------------------------------------  */
/* 
#music{
    overflow: hidden;
    background-image: linear-gradient(180deg, #fbcbcf 0%, #f5adb4 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    position: relative;
} */

.stage {
    position: absolute;
    /* width: 55vw; */
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -38%, 0);
}

.music-desc {
    margin-left: 5%;
    width: 20vw;
    text-align: justify;
    color: #fff;
    z-index: 10;
}

.music-tit {
    font-weight: 500;
    line-height: 1;
    font-size: 6vw;
    margin-bottom: 2%;
}

.m-desc {
    font-family: 'SCoreDream';
    font-weight: 200;
}

.musicPlayer-wrap {
    width: 280px;
    border-radius: 1vw;
    height: 540px;
    background: #04000fcc;
    padding: 2% 1%;
    margin-left: 25%;
    margin-bottom: 6%;
    z-index: 10;
}
.inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inner::-webkit-scrollbar {
    display: none;
}

.inner > iframe {
    width: 100%;
    height: 100%;
}

/* slider */

#section08 {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(180deg, #fbcbcf 0%, #f5adb4 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sc_item {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    overflow: hidden;
    margin: 0 auto;
}

.slider__arrows--left {
    position: absolute;
    top: 50%;
    left: 2%;
    /* transform: translate( -50%, -50%); */
    /* background-image: url(../imgs/left-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center; */
}
.slider__arrows--right {
    position: absolute;
    top: 50%;
    right: 2%;
    /* transform: translate( -50%, -50%); */
    /* background-image: url(../imgs/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center; */
}

.slider__arrows--left,
.slider__arrows--right {
    color: #fff;
    /* width: 5vw;
    height: 8vh; */
    font-size: 6vw;
    cursor: pointer;
    transition: transform .5s, opacity .5s;
}

.slider__arrows--left:hover {
    opacity: .6;
    transform: translateX(-5px);
}

.slider__arrows--right:hover {
    opacity: .6;
    transform: translateX(5px);
}



/* section09 effectCont -------------------------------------------------------------------------------- */
.effectCont {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.effect__wrap {
    width: 300%;
    overscroll-behavior: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    background: #F6F5F3;
    font-family: "Tungsten";
}
.back-tit4 {
    position: absolute;
    top: 50%;
    transform: translate(0%, -23%) rotate(5deg);
    font-size: 25vw;
    -webkit-text-stroke: 1px #7c30a232;
    color: transparent;
    font-weight: 600;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 2vw;
    white-space: nowrap;
}
.back-tit4-2 {
    position: absolute;
    top: 50%;
    transform: translate(0%, -160%) rotate(5deg);
    font-size: 25vw;
    -webkit-text-stroke: 1px #7c30a232;
    color: transparent;
    font-weight: 600;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 2vw;
    white-space: nowrap;
}
.back-tit4-3 {
    position: absolute;
    top: 50%;
    transform: translate(-4%, 116%) rotate(5deg);
    font-size: 25vw;
    -webkit-text-stroke: 1px #7c30a232;
    color: transparent;
    font-weight: 600;
    line-height: 0.8;
    text-align: center;
    letter-spacing: 2vw;
    white-space: nowrap;
}

.effect___inner01 {
    width: 110%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tungsten";
    position: relative;
    overflow: hidden;
}

.e-text-wrap {
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 3%;
    z-index: 1;
}

.e-small-tit {
    font-size: 2.5vw;
    margin-bottom: 1vw;
    padding: 2% 8%;
    border-radius: 10px;
    background: #EDA24B;
    color: #fff;
}

.e-title {
    font-size: 7vw;
    font-weight: 600;
    line-height: 0.8;
    color: #8536ac;
}

.i-pad {
    position: relative;
    width: 50vw;
}

.i-pad-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0.5deg) skewX(-0.5deg);
    width: 48vw;
    height: 58%;
    border-radius: 1vw;
    overflow: hidden;
    overflow-y: scroll;
}

.i-pad-view::-webkit-scrollbar {
    display: none;
}

.i-pad-view > iframe {
    width: 115%;
    height: 125%;
    padding-right: 14%;
}


/* effectCont2 -------------------------------------------------------------------------------------  */
.effect___inner02 {
    width: 110%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.e-text-wrap.pink {
    width: auto;
}

.e-small-tit.pink {
    background: #8536ac;
    /* margin-right: 13vw; */
}
.e-title.pink {
    color: #a13a5f;
}

/* effectCont3 -----------------------------------------------------------------------------------------------------------------------------  */
.effect___inner03 {
    width: 110%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Tungsten";
    position: relative;
    overflow: hidden;
}


.e-small-tit.yellow {
    /* margin-right: 6vw; */
    background: #a13a5f;
}

.e-title.yellow {
    color: #EDA24B;
}

/* media */
@media (max-width:600px) {
    .imac-1, .imac-2 {
        width: 110vw;
    }

    .imac-view {
        transform: translate(-48.8%, -76.5%);
        width: 76vw;
    }

}

/* section10 -------------------------------------------------------------------------------------  */
#section10 {
    height: 150vh;
    width: 100%;
    font-family: 'Tungsten';
    position: relative;
    background: #FEF5F5;
    background-size: 10px 10px, 60px 60px;
    background-image: linear-gradient(to bottom, transparent 5px, #FEF5F5 5px),
        linear-gradient(to right, #f5dddd 1px, transparent 1px),
        linear-gradient(to right, transparent 5px, #FEF5F5 5px),
        linear-gradient(to bottom, #f5dddd 1px, transparent 1px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sec8_tit {
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 500;
    color: #a13a5f;
    padding-top: 6%;
    padding-bottom: 4%;
}

.workTable,
.workTable th,
.workTable td {
    border: 1px solid #a13a5f;
}

.workTable th {
    width: 20%;
}


/* footer ---------------------------------------------------------------------------------------- */
footer {
    background: #fff;
    position: relative;
}

.contact_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'Tungsten';
    height: 60vh;
}

.contact_wrap div {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contact_wrap div:first-child::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    background: #a13a5f;
}

.contact_wrap p {
    text-transform: uppercase;
    margin-top: 7vh;
    font-size: 6vw;
    font-weight: 400;
    line-height: 0.8;
    height: 38%;
    color: #A13A5F;
}

.contact_wrap .topBtn {
    padding-top: 3vw;
}

.contact_wrap button {
    font-size: 2vw;
    padding: 2% 8%;
    border-radius: 50px;
    background: #F9BDB3;
    color: #fff;
    font-family: 'Tungsten';
    cursor: pointer;
    text-transform: uppercase;
}

.contact_wrap button > a {
    color: #fff;
    text-transform: uppercase;
}


.sns__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.sns__wrap  img {
    width: 3vw;
}

.sns__wrap  .sns {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width .6s cubic-bezier(.645,.045,.355,1);
}

.github {
    background: #DFB2BC;
}
.instargram {
    background: #DE939F;
}
.tistory {
    background: #6E4878;
}

.sns__wrap  .sns:hover {
    width: 140%;
}


@media (max-width:960px){
    .sns__wrap img {
        height: 30vh;
    }
}

@media (max-width:600px){
    .sns__wrap img {
        height: 20vh;
    }
}