@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://webfontworld.github.io/Poppins/Poppins.css");
@import url('https://webfontworld.github.io/score/SCoreDream.css');
body {
    /* overflow: hidden; */
    /* cursor: none; */
}

/* 헤더 */
#header {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Volume {
    width: 1.2vw;
    cursor: pointer;
}
.menu {
    width: 2.2vw;
    margin-right: 3%;
    cursor: pointer;
}
.scrollTop {
    margin-left: 3%;
    width: 87%;
    color: #fff;
}

/* section01 ------------------------------------------------------------------------- */
#section01 {
    background-color: #f8dede;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Anton", sans-serif;
    position: relative;
}

.intro-back-tit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(28deg);
    transform-origin: center center;
    font-size: 24vw;
    line-height: 1;
    text-align: center;
    -webkit-text-stroke: 1px #a13a5f;
    color: transparent;
    opacity: 0.2;
    z-index: -1;
}

.cursor01 {
    filter: invert(100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00000090;
    border: 5px solid #00000090;
    user-select: none;
    pointer-events: none;
    transition: transform 0.5s ease-in-out;
}

.cursor01.active {
    transform: scale(8);
    background: #00000000;
}

.Intro-text {
    text-align: center;
    /* position: relative; */
    /* z-index: 10; */
    font-size: 11vw;
    line-height: 1;
    color: #a13a5f;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hv-e01 {
    letter-spacing: 4px;
}

.Intro-textBox {
    /* position: relative; */
}

/* .it01 {
    opacity: 0;
} */

.intro-icon01 {
    position: absolute;
    width: 40%;
    top: -30%;
    left: -20%;
    transform: translate(-13%, -149%);
}

.intro-icon02 {
    position: absolute;
    width: 24%;
    left: -28%;
    top: 75%;
    /* bottom: 2%; */
    /* transform: translate(-160%, 130%); */
}

.intro-icon03 {
    position: absolute;
    width: 30vw;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -20%);
    z-index: -1;
}

.iconZindex {
    z-index: 11;
}

.intro-icon04 {
    position: absolute;
    width: 32%;
    right: -26%;
    top: 75% ;
    /* bottom: 5%; */
    /* z-index: -1; */
}

.intro-icon05 {
    position: absolute;
    width: 26%;
    top: -10%;
    right: -25%;
    /* transform: translate(150%, -130%); */
}


/* section02 어바웃 ------------------------------------------------------------------------- */
#section02 {
    background-color: #67353b;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    overflow: hidden;
    position: relative;
}
.About01 {
    background-size: 10px 10px, 60px 60px;
    background-image: linear-gradient(to bottom, transparent 5px, #67353b 5px),
        linear-gradient(to right, #ffffff20 1px, transparent 1px),
        linear-gradient(to right, transparent 5px, #67353b 5px),
        linear-gradient(to bottom, #ffffff20 1px, transparent 1px);
}

.About-text01 {
    position: absolute;
    top: 25%;
    left: 8%;
    z-index: 1;
    width: 20vw;
}
.about-icon01 {
    width: 12vw;
    position: absolute;
    transform: translate(-70%, -55%);
    z-index: -1;
}
.About-text01 .tit {
    font-size: 3.2vw;
    font-weight: 600;
    letter-spacing: -1.8px;
    line-height: 0.95;
    color: #fffcf8;
}

.About-text02 {
    position: absolute;
    bottom: 0%;
    right: 3%;
    transform: translate3d(0%,-80%,0);
    width: 20vw;
}

.about-icon02 {
    width: 7vw;
    position: absolute;
    transform: translate(150%, -100%);
    z-index: -1;
}

.About-text02 .tit {
    font-size: 3.2vw;
    font-weight: 600;
    letter-spacing: -1.8px;
    line-height: 0.95;
    color: #ffc9c6;
}

.desc {
    margin-top: 10px;
    font-size: 1.1vw;
    letter-spacing: normal;
    color: #d7b6b6;
    font-family: 'SCoreDream';
    font-weight: 200;
    word-break: keep-all;
}

.A1-photo {
    position: relative;
    margin-bottom: 8vh;
}

.A-photo01 {
    width: 30vw;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.A-title01 {
    position: absolute;
    bottom: -15.6%;
    left: -21%;
    letter-spacing: -1.8px;
    color: #e7828e;
    font-size: 6vw;
    font-weight: 800;
    text-align: center;
    line-height: 0.9;
    white-space: nowrap;
}



/* section03 ------------------------------------------------------------------------- */
#section03 {
    background-color: #FEF5F5;
    /* background-color: #67353b; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    overflow: hidden;
    position: relative;
    /* cursor: Default; */
}

.About02 {
    background-size: 10px 10px, 60px 60px;
    background-image: linear-gradient(to bottom, transparent 5px, #FEF5F5 5px),
        linear-gradient(to right, #f5dddd 1px, transparent 1px),
        linear-gradient(to right, transparent 5px, #FEF5F5 5px),
        linear-gradient(to bottom, #f5dddd 1px, transparent 1px);
}

.A2-photo {
    position: relative;
    margin-bottom: 8vh;
}

.A-photo02 {
    width: 30vw;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

.A-title02 {
    position: absolute;
    bottom: -14.3%;
    left: -29%;
    letter-spacing: -1.8px;
    color: #992d54;
    font-size: 5.5vw;
    font-weight: 800;
    text-align: center;
    line-height: 0.9;
    white-space: nowrap;
}

.About-text03 {
    position: absolute;
    top: 65%;
    left: 6%;
    transform: translate3d(0%,-80%,0);
    width: 21vw;
}

.about-icon03 {
    width: 10vw;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    opacity: 0.9;
}

.About-text03 > .tit {
    font-size: 3.2vw;
    font-weight: 600;
    letter-spacing: -1.8px;
    line-height: 0.95;
    color: #AA305C;
}

.About-text04 {
    position: absolute;
    top: 25%;
    right: 6%;
    z-index: 1;
    width: 20vw;
}

.about-icon04 {
    width: 12vw;
    position: absolute;
    transform: translate(60%, -65%) scaleX(-1);
    z-index: -1;
}

.About-text04 > .tit {
    font-size: 3.2vw;
    font-weight: 600;
    letter-spacing: -1.8px;
    line-height: 0.95;
    color: #b7646e;
}

/* section12 -------------------------------------------------------------------------------------- */
#section12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tungsten';
}

#section12 div {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#section12 div:first-child::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    background: #a13a5f;
}

#section12 p {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 400;
    line-height: 0.8;
    height: 30%;
    color: #A13A5F;
}

#section12 .topBtn {
    padding-top: 2vw;
}

#section12 button {
    font-size: 1.6vw;
    padding: 2% 8%;
    border-radius: 50px;
    background: #F9BDB3;
    color: #fff;
    font-family: "Poppins";
    cursor: pointer;
}


/* footer ---------------------------------------------------------------------------------------- */
.sns__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.sns__wrap  img {
    width: 3vw;
}

.sns__wrap  .sns {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width .6s cubic-bezier(.645,.045,.355,1);
}

.github {
    background: #DFB2BC;
}
.instargram {
    background: #DE939F;
}
.tistory {
    background: #6E4878;
}

.sns__wrap  .sns:hover {
    width: 140%;
}


@media (max-width:960px){
    .sns__wrap img {
        height: 30vh;
    }
}

@media (max-width:600px){
    .sns__wrap img {
        height: 20vh;
    }
}