@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* 헤더 */
#header {
    position: fixed;
    z-index: 999;
    right: 60px;
    top: 20px;
    width: 2.5vw;
    display: flex;
}
.Volume {
    width: 1.5vw;
    margin-right: 15px;
}

/* 인트로 */
#section01 {
    background-color: #f8dede;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Anton", sans-serif;
    position: relative;
}

#section01::before {
    content: "WELCOME 2022 PORTFOLIO";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(28deg);
    font-size: 24vw;
    line-height: 1;
    text-align: center;
    -webkit-text-stroke: 1px #a13a5f;
    color: transparent;
    opacity: 0.2;
}

.Intro-text {
    text-align: center;
    font-size: 11vw;
    line-height: 1;
    color: #a13a5f;
    position: relative;
    z-index: 10;
}

.intro-icon01 {
    position: absolute;
    width: 18%;
    transform: translate(-150%, -90%);
    animation: bounce 2s infinite;
}

.intro-icon02 {
    position: absolute;
    width: 12%;
    left: 35%;
    transform: translate(-160%, 130%);
    animation: bounce2 1.8s infinite;
}

.intro-icon03 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -20%);
}
.intro-icon04 {
    position: absolute;
    width: 18%;
    right: 8%;
    top: 55%;
    transform: translate(-50%, 30%);
}

.intro-icon05 {
    position: absolute;
    width: 12%;
    right: 35%;
    transform: translate(150%, -130%);
}

@keyframes bounce {
    0% {
        transform:  translate(-150%, -90%) translateY(-8px);
    }
    50% {
        transform: translate(-150%, -90%) translateY(4px);
    }
    100% {
        transform: translate(-150%, -90%) translateY(-8px);
    }
}
@keyframes bounce2 {
    0% {
        transform: translate(-160%, 130%) translateY(-8px);
    }
    50% {
        transform: translate(-160%, 130%) translateY(4px);
    }
    100% {
        transform: translate(-160%, 130%) translateY(-8px);
    }
}

#section02 {
    background-color: #67353b;
    height: 100vh;
}
